beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
Deprecated==1.2.13
idna==3.3
jaconv==0.3
jisho-api==0.1.8
libretranslatepy==2.1.1
lxml==4.8.0
progress==1.6
pydantic==1.9.0
Pygments==2.11.2
pykakasi==2.2.1
requests==2.27.1
rich==10.16.2
soupsieve==2.3.1
translate==3.6.1
typing-extensions==4.1.1
urllib3==1.26.8
wrapt==1.13.3
